---
import { getG3 } from "../../consts/pokemonList";
import Layout from "../../layouts/Layout.astro";
import PokemonCard from "../../components/PokemonCard.astro";

let listG3 = await getG3();
let maxPokemon = 20;
---

<Layout title="Bienvenido a la Pokédex no oficial">
    <main>
        <section
            class="container h-auto mx-auto grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-4
                md:grid-cols-2 gap-y-14 my-10 jutify-center items-center"
        >
            {(<PokemonCard pokemonList={listG3} maxPokemon={maxPokemon} />)}
        </section>
    </main>
</Layout>
<div class="flex my-8 mx-auto justify-center items-center">
    <button
        class="mx-auto bg-black px-6 py-2 text-white rounded-2xl loadPokemons"
        >Cargar más pokemon</button
    >
</div>
