---
import Layout from "../layouts/Layout.astro";
import CardsContainer from "../components/cardsContainer.astro";
---

<Layout title="Bienvenido a la Pokédex no oficial">
  <main
    class="h-auto w-full flex flex-row justify-center items-center mx-auto gap-x-10"
  >
    <CardsContainer />
  </main>
</Layout>
