---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Bienvenido a la Pokédex no oficial">
	<main>
		<h1 class="text-white">The UnOfficial Pokédex</h1>
	</main>
</Layout>
