<header class="text-gray-600 w-full mx-auto justify-center items-center">
    <div class="mx-auto flex flex-wrap p-5 justify-center items-center">
        <nav class="flex flex-wrap items-center justify-between text-base">
            <a
                href="/generation1"
                class="group mr-5 hover:text-gray-900 flex flex-row items-center justify-center"
            >
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Pokebola-pokeball-png-0.png/769px-Pokebola-pokeball-png-0.png"
                    alt="Generación 1"
                    class="w-3 h-3 hidden group-hover:flex group-hover:animate-slide-in-left duration-300 mr-2 transition-all my-auto"
                />
                Generation 1</a
            >
            <a
                href="/generation2"
                class="group mr-5 hover:text-gray-900 flex flex-row items-center justify-center"
            >
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Pokebola-pokeball-png-0.png/769px-Pokebola-pokeball-png-0.png"
                    alt="Generación 2"
                    class="w-3 h-3 hidden group-hover:flex group-hover:animate-slide-in-left duration-300 mr-2 transition-all my-auto"
                />
                Generation 2</a
            >
            <a
                href="/generation3"
                class="group mr-5 hover:text-gray-900 flex flex-row items-center justify-center"
            >
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Pokebola-pokeball-png-0.png/769px-Pokebola-pokeball-png-0.png"
                    alt="Generación 3"
                    class="w-3 h-3 hidden group-hover:flex group-hover:animate-slide-in-left duration-300 mr-2 transition-all my-auto"
                />
                Generation 3</a
            >
            <a
                href="/generation4"
                class="group mr-5 hover:text-gray-900 flex flex-row items-center justify-center"
            >
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Pokebola-pokeball-png-0.png/769px-Pokebola-pokeball-png-0.png"
                    alt="Generación 4"
                    class="w-3 h-3 hidden group-hover:flex group-hover:animate-slide-in-left duration-300 mr-2 transition-all my-auto"
                />
                Generation 4</a
            >
            <a
                href="/generation5"
                class="group mr-5 hover:text-gray-900 flex flex-row items-center justify-center"
            >
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Pokebola-pokeball-png-0.png/769px-Pokebola-pokeball-png-0.png"
                    alt="Generación 5"
                    class="w-3 h-3 hidden group-hover:flex group-hover:animate-slide-in-left duration-300 mr-2 transition-all my-auto"
                />
                Generation 5</a
            >
        </nav>
        <a
            href="/"
            class="hover:scale-110 transition-all duration-200 flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
                viewBox="0 0 24 24"
            >
                <path
                    d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"
                ></path>
            </svg>
            <span class="ml-3 text-xl">Tailblocks</span>
        </a>
        <nav
            class="flex flex-wrap flex-row items-center justify-between text-base"
        >
            <a
                href="/generation6"
                class="group mr-5 hover:text-gray-900 flex flex-row items-center justify-center"
            >
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Pokebola-pokeball-png-0.png/769px-Pokebola-pokeball-png-0.png"
                    alt="Generación 6"
                    class="w-3 h-3 hidden group-hover:flex group-hover:animate-slide-in-left duration-300 mr-2 transition-all my-auto"
                />
                Generation 6</a
            >
            <a
                href="/generation7"
                class="group mr-5 hover:text-gray-900 flex flex-row items-center justify-center"
            >
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Pokebola-pokeball-png-0.png/769px-Pokebola-pokeball-png-0.png"
                    alt="Generación 7"
                    class="w-3 h-3 hidden group-hover:flex group-hover:animate-slide-in-left duration-300 mr-2 transition-all my-auto"
                />
                Generation 7</a
            >
            <a
                href="/generation8"
                class="group mr-5 hover:text-gray-900 flex flex-row items-center justify-center"
            >
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Pokebola-pokeball-png-0.png/769px-Pokebola-pokeball-png-0.png"
                    alt="Generación 8"
                    class="w-3 h-3 hidden group-hover:flex group-hover:animate-slide-in-left duration-300 mr-2 transition-all my-auto"
                />
                Generation 8</a
            >
            <a
                href="/generation9"
                class="group mr-5 hover:text-gray-900 flex flex-row items-center justify-center"
            >
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Pokebola-pokeball-png-0.png/769px-Pokebola-pokeball-png-0.png"
                    alt="Generación 9"
                    class="w-3 h-3 hidden group-hover:flex group-hover:animate-slide-in-left duration-300 mr-2 transition-all my-auto"
                />
                Generation 9</a
            >
            <a
                href="#"
                class="group mr-5 hover:text-gray-900 flex flex-row items-center justify-center"
            >
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Pokebola-pokeball-png-0.png/769px-Pokebola-pokeball-png-0.png"
                    alt="Generación 5"
                    class="w-3 h-3 hidden group-hover:flex group-hover:animate-slide-in-left duration-300 mr-2 transition-all my-auto"
                />
                All Generations</a
            >
        </nav>
    </div>
</header>
